@model Client.Data.Horraire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horraire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbHeure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbHeure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EleveMaxInscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EleveMaxInscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdentityKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
