@model IEnumerable<Client.Data.Inscriptions>

@{
    ViewData["Title"] = "Students";
    List<Inscriptions> inscriptions = Model.ToList();
}

<h4 class="mt-4">Inscriptions</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdentifiantDemandeurNavigation.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentifiantDemandeurNavigation.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in inscriptions)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentifiantDemandeurNavigation.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentifiantDemandeurNavigation.Email)
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <form id="form-@inscriptions.IndexOf(item)" class="col-4 row">
                    <input hidden name="studenId" />
                    <div class="input-group col-12">
                        <label class="label-info">Message de communication</label>
                        <textarea name="communication" rows="4" class="form-control"></textarea>                        
                    </div>
                    <div class="input-group col-12">
                        <button onclick="sendSubmit('#form-@inscriptions.IndexOf(item)')" class="btn btn-info">Communiquer</button>
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    sendSubmit => function (formId) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: '/Communication/Send',
            data: $(formId).serialize(),
            success: function (data) {
                console.log(data);
            }
        });
    };
</script>