@model Client.Data.Services

@{
    int ServiceId = Model.IdentityKey;
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Services</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuteur.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdentityKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<a data-ajax="true"
   data-ajax-method="get"
   data-ajax-url="Comments/GetComments?ServiceId=@ServiceId"
   data-ajax-mode="replace"
   data-ajax-update="#Comments"
   class="btn btn-info">Afficher les commentaires</a>

<div id="Comments" class="container">

</div>

